<%= form_for @movie do |m|%>
  <% if @movie.errors.any? %>
    <div>
    <%= pluralize(@movie.errors.count, "error") %> prevented this movie from being submitted:
      <ul>
        <% movie.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= m.label :title %><br>
    <%= m.text_field :title %>
  </div>
  <div>
    <%= m.label :director %><br>
    <%= m.text_field :director %>
  </div>
  <div>
    <%= m.label :description %><br>
    <%= m.text_area :description %>
  </div>
  <div>
    <%= m.label :runtime_in_minutes %><br>
    <%= m.number_field :runtime_in_minutes %>
  </div>
  <div>
    <%= m.label :poster_image_url %><br>
    <%= m.text_field :poster_image_url %>
  </div>
  <div>
    <%= m.label :release_date %><br>
    <%= m.date_field :release_date %>
  </div>
  <div>
    <%= m.submit "Submit" %>
  </div>
<% end %>